<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>
   
    <h1>Forms</h1>
    <form action="/autenticar" method="get">
        <label> Usuário: </label>
        <input type="text" name="usuario"> <br>
        <label type="password"> Senha: </label>
        <input type="submit" name="senha">
        <br>
        <button type="submit">Entrar</button>
    </form>

</body>
</html>